.chat--container {
  padding: 15px 0;
  color: #232360;

  .call {
    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .btn-group {
        & button {
          background: #f4f4f4;
          border: none;
          cursor: pointer;

          & svg {
            fill: #c8ccd7;
          }

          &:first-child {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
            padding: 4px 6px 4px 15px;
          }

          &:last-child {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            padding: 4px 15px 4px 6px;
          }

          &:hover {
            & svg {
              fill: #768396;
            }
          }
        }
      }
    }

    &--body {
      padding-top: 10px;
      padding-bottom: 20px;
      border-bottom: 2px solid #e8edf1;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;

        & p {
          margin: 5px 0;
          color: #1ea7ff;
          font-weight: 600;
        }

        & h3 {
          margin: 5px 0;
        }

        & button {
          background: #ffffff;
          border: none;
          color: #1ea7ff;
          font-family: 'DM Sans';
          font-weight: 600;
          cursor: pointer;

          &:hover {
            color: #768396;
          }
        }
      }

      .content {
        background: #5051f9;
        box-shadow: 0px 8px 20px rgba(80, 81, 249, 0.24);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        &--avatar-group {
          display: flex;
        }

        &--time {
          color: #ffffff;
        }

        &--btn-group {
          & button {
            background: none;
            border: none;
            cursor: pointer;

            & svg {
              fill: #ffffff;
            }
          }
        }
      }
    }
  }

  .chat {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;

    &--content {
      padding-left: 10px;

      & h4 {
        margin: 5px 0;
      }

      & p {
        margin: 5px 0;
        color: #768396;
      }
    }
  }

  .new-task {
    padding-bottom: 20px;
    border-bottom: 2px solid #e8edf1;

    & p {
      color: #768396;
    }

    & input {
      background: #e8edf1;
      border-radius: 7px;
      border: none;
      padding: 8px;
      width: calc(100% - 16px);
      font-family: 'DM Sans';
      font-weight: 600;
      color: #232360;
      font-size: 1rem;

      &:focus {
        outline: none;
        background: blanchedalmond;
      }
    }
  }

  .emoji-picker {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & span {
      font-size: 1.25rem;
      padding: 0 2px;
      cursor: pointer;
    }

    & button {
      background: none;
      border: none;
      cursor: pointer;

      & svg {
        fill: #5051f9;
      }
    }
  }

  .add-collaborators {
    & p {
      color: #768396;
      margin-right: 10px;
    }

    .collaborators {
      display: flex;
      align-items: center;
      cursor: pointer;

      .collaborator {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2px 5px;
        margin-right: 15px;
        background: #e8e8ff;
        border-radius: 30px;
      }

      & button {
        cursor: pointer;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
        border-radius: 50%;

        &:first-of-type {
          margin-right: 10px;
          background: #e8edf1;

          & svg {
            transform: scale(0.75);
          }
        }

        &:last-of-type {
          background: #5051f9;

          & svg {
            fill: #ffffff;
            transform: scale(0.75);
          }
        }
      }
    }
  }
}
