.card {
  position: relative;
  padding: 5px 0 25px;
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 1px rgba($color: #000000, $alpha: 0.1);
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  &--close-btn {
    display: none;
    padding: 1px 2px;
    position: absolute;
    background: inherit;
    border-radius: 4px;
    border: none;
    top: 10px;
    right: 15px;
    cursor: pointer;

    & svg {
      font-size: 1rem;
      color: #6772fe;
    }

    &:hover {
      & svg {
        color: #000000;
      }
    }
  }

  &--edit-btn {
    display: none;
    position: absolute;
    background: inherit;
    padding: 2px 4px;
    border-radius: 4px;
    box-shadow: rgba($color: #000000, $alpha: 0.1);
    border: none;
    top: 10px;
    right: 40px;
    cursor: pointer;

    & svg {
      font-size: 0.9rem;
      color: #6772fe;
    }

    &:hover {
      & svg {
        color: #000000;
      }
    }
  }

  &:hover {
    .card--edit-btn,
    .card--close-btn {
      display: block;
    }
  }

  &--complete-btn {
    background: none;
    padding: 3px 3px 0;
    border-radius: 50%;
    border: none;
    cursor: pointer;

    & svg {
      transform: scale(1.4);
      fill: #768396;

      &:hover {
        fill: #5051f9;
      }
    }
  }
}
