.nav {
  font-family: 'DM Sans';
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  min-height: 80px;
  background: #ffffff;

  .show-side-bar {
    position: relative;
    left: 80px;
  }

  &--menu-btn {
    display: flex;
    align-items: center;
    width: 30%;

    & button {
      background: none;
      border: none;
      cursor: pointer;
      margin-left: 10px;
      box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
      border-radius: 8px;

      & svg {
        font-size: 2rem;
        padding: 4px;
        fill: #5f6388;
      }

      &:hover {
        background: #5051f9;

        & svg {
          fill: white;
        }
      }
    }
  }

  &--search-bar {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

    & input {
      width: 40%;
      font-family: 'DM Sans';
      height: 30px;
      padding: 5px 15px;
      background: #f3f7fa;
      border: none;
      border-radius: 8px;

      &:focus {
        outline: none;
        background: blanchedalmond;
      }

      &::placeholder {
        color: #23235f;
      }
    }

    & button {
      position: relative;
      margin-left: -35px;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 1;

      svg {
        font-size: 0.8rem;
      }
    }
  }

  &--user-profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 25%;

    .notification {
      & button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 8px;
      }
    }

    .user-avatar {
      width: 25%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-width: 100px;
    }
  }
}
