.dashboard-container {
  position: relative;
  top: 80px;
  left: 60px;
  width: calc(100vw - 60px);
  min-width: calc(100vw - 80px - 60px);
  min-height: calc(100vh - 80px);
  overflow: hidden;
  font-family: 'DM Sans';
  background: #f3f4f8;
  
}
.dashboard-frame {
  display: flex;
}
.show-side-bar {
  left: calc(80px + 20px);
  width: calc(100vw - 80px - 20px);
}
