.headerbar {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    height: 8vh;
    align-items: center;
    border: 1px solid rgb(244, 22, 22);
    /* Rectangle 7 */

/* position: absolute;
width: 1346px;
height: 76px;
left: 94px;
top: 0px;
background: #FFFFFF;
display: flex;
justify-content: center ; */
}
.searchBox {
    width: 95%;
    
}
.search {
    border: 1px solid rgb(233, 233, 233);
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 10px 20px;
}
.btnSignOut {
   
}