@import '../../setting.scss';

.chart {
  background: #ffffff;
  border-radius: 16px;
  margin: 10px 30px 20px 40px;
  height: 42%;

  &--title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #232360;

    & h2:first-child {
      padding-left: 50px;
    }

    & h2:last-child {
      padding-right: 30px;
    }
  }
}

@include media-height-medium {
  .chart {
    height: 30%;
  }
}
