.chart {
  background: #ffffff;
  border-radius: 16px;
  width: 80%;
  padding: 16px;
  margin-left: 40px;

  &--title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #232360;

    & h2:first-child {
      padding-left: 50px;
    }

    & h2:last-child {
      padding-right: 30px;
    }
  }
}
