.menu {
    border: 1px solid black ;
    width: 5%;
    height: 400px;
    position: fixed;

}
.active-item {
    border:1px solid rgb(0, 212, 202);
    padding: 10px 15px;
    border-radius: 30px;
} 
.nav {
    margin-top: 20px;
    
}