.settings-container {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 80px;
  left: 80px;
  width: calc(100vw - 80px);
  min-width: calc(100vw - 80px - 80px);
  height: calc(100vh - 80px);
  min-height: calc(100vh - 80px);
  font-family: 'DM Sans';
  background: #f3f4f8;
}

.show-side-bar {
  left: calc(60px + 20px);
  width: calc(100vw - 80px);
}

.user-images {
  position: relative;
  height: 35%;
  padding: 20px 40px 0;

  & img {
    width: 100%;
    height: 100%;
  }

  .loading-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      transform: scale(1.5);
    }
  }

  .cover--change-btn {
    position: absolute;
    bottom: 20px;
    right: 60px;
    padding: 10px;
    border-radius: 10px;
    background: #f3f4f8;
    z-index: 1;

    & label {
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 100%;
      height: 100%;

      & span {
        margin-left: 10px;
      }
    }
  }

  &--avatar-container {
    position: absolute;
    bottom: -45%;
    height: 70%;
    width: calc(100% - 80px);
    display: flex;
    align-items: center;

    .avatar {
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: #ffffff;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 80px;
      background: #f3f4f8;

      .loading-avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #f3f4f8;
        border-radius: 50%;

        & svg {
          transform: scale(1.5);
        }
      }

      &--change-btn {
        position: absolute;
        z-index: 1;
        bottom: 10px;
        right: 20px;
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #5051f9;
        cursor: pointer;

        & label {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          width: 100%;
          height: 100%;

          & svg {
            fill: #ffffff;
          }
        }
      }

      &:hover {
        &::after {
          display: block;
        }

        .avatar--change-btn {
          display: block;
        }
      }
    }

    .username {
      position: absolute;
      left: 260px;
      top: 45%;
      font-size: 2rem;
      padding: 10px 0;
      font-weight: 600;
    }

    .images-btn-group {
      position: absolute;
      right: 0;
      top: 45%;

      & button {
        font-family: 'DM Sans';
        font-weight: 500;
        padding: 10px 14px;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 1px 1px rgba($color: #000000, $alpha: 0.2);
      }

      :first-child {
        border: 1px solid #d9dade;
        border-radius: 8px;
        color: #000000;

        &:hover {
          color: #f3f4f8;
          background: #000000;
        }

        &:disabled {
          background: lighten($color: #f3f4f8, $amount: 0.5);
          color: #000000;
        }
      }

      :last-child {
        margin-left: 15px;
        background: #5051f9;
        border: 1px solid #5051f9;
        color: #ffffff;

        &:hover {
          color: #5051f9;
          background: #ffffff;
        }

        &:disabled {
          background: lighten($color: #f3f4f8, $amount: 0.5);
          color: #5051f9;
        }
      }
    }
  }
}

.user-info {
  padding-left: 120px;
  margin-top: 130px;
  text-align: left;
  display: flex;
  flex-direction: column;

  .info-btn-group {
    & button {
      font-family: 'DM Sans';
      font-weight: 500;
      font-size: 1rem;
      background: inherit;
      border: none;
      padding: 10px 15px;
      color: #6a7181;
      cursor: pointer;
      margin-bottom: 20px;

      &:active {
        color: #232360;
        font-weight: bold;
      }
    }

    .active {
      color: #232360;
      font-weight: bold;
    }
  }

  .input-group {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    & label {
      font-weight: bold;
      margin-bottom: 5px;
    }

    & input {
      font-family: 'DM Sans';
      color: #768396;
      width: 15%;
      padding: 10px 15px;
      border: 1px solid #e5e5ed;
      border-radius: 9px;
      background: inherit;
      font-size: 1rem;

      &:focus {
        outline: none;
        background: blanchedalmond;
      }
    }

    & input[id='email'] {
      padding: 10px 10px 10px 40px;
      width: calc(15% - 20px);

      &:focus {
        background: none;
      }
    }
  }
}
